In [1]:
import pandas as pd
import os
import json

In [4]:
job_postings = '../../data/companies/company+jobs/job_postings.csv'

jobs_df = pd.read_csv(job_postings)

In [5]:
pd.set_option('display.max_columns', None)
jobs_df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,1.699090e+12,NaN,9.0,https://www.linkedin.com/jobs/view/3757940104/...,https://careers-demant.icims.com/jobs/19601/he...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,1.699080e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,https://www.click2apply.net/mXLQz5S5NEYEXsKjwH...,OffsiteApply,1.701680e+12,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,1.699080e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,https://www.click2apply.net/LwbOykH2yAJdahB5Ah...,OffsiteApply,1.701680e+12,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,1.699080e+12,NaN,1.0,https://www.linkedin.com/jobs/view/3757938018/...,https://jobs.apploi.com/view/854782?utm_campai...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,1.698970e+12,1.0,NaN,https://www.linkedin.com/jobs/view/3757937095/...,https://careers.iherb.com/global/en/job/IHINGL...,OffsiteApply,1.701680e+12,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [8]:
jobs_df.dtypes

job_id                          int64
company_id                    float64
title                          object
description                    object
max_salary                    float64
med_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time          float64
remote_allowed                float64
views                         float64
job_posting_url                object
application_url                object
application_type               object
expiry                        float64
closed_time                   float64
formatted_experience_level     object
skills_desc                    object
listed_time                   float64
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
scraped                         int64
dtype: object

In [14]:
max(jobs_df['job_posting_url'].str.len()) # Max string length of URL

69

In [15]:
max(jobs_df['application_url'].str.len()) # Max string length of URL

542.0

In [16]:
max(jobs_df['application_type'].str.len()) # Max string length of col

18

In [17]:
max(jobs_df['formatted_experience_level'].str.len()) # Max string length of col

16.0

In [47]:
cols_df.iloc[1,2]

0

In [53]:
c = jobs_df.dtypes
cols_df = c.reset_index()
# cols_df.columns
cols_df = cols_df[cols_df[0]=='object'].reset_index()
cols_df = cols_df.drop('level_0', axis=1)
cols_df['max_len'] = 0

counter = 0
for i,row in cols_df.iterrows():
    # print(i,row[0])
    # print( max(jobs_df[row['index']].str.len()))
    cols_df.iloc[i,2] = max(jobs_df[row['index']].str.len()) # Max string length of col

    

cols_df

                         index       0  max_len
0                        title  object    187.0
1                  description  object  20941.0
2                   pay_period  object      7.0
3          formatted_work_type  object     10.0
4                     location  object     52.0
5              job_posting_url  object     69.0
6              application_url  object    542.0
7             application_type  object     18.0
8   formatted_experience_level  object     16.0
9                  skills_desc  object      NaN
10              posting_domain  object     58.0
11                   work_type  object     10.0
12                    currency  object      3.0
13           compensation_type  object     11.0

In [57]:
jobs_df['skills_desc'][pd.notna(jobs_df['skills_desc'])]

2        Bachelor's Degree in Mechanical Engineering pr...
10       Education: HS Diploma or equivalent is require...
20       10-12 years of directly related experience in ...
89       Previous retail management experience a plusSt...
199                              Ultrasound Tech - General
                               ...
32564                        EducationDoctorate or better.
32679    \n\nMinimum Requirements Required Knowledge an...
32687    EducationBachelors or better in Education or r...
33120    This position requires the following skills: B...
33245    Must be a seasoned stylist with an existing bo...
Name: skills_desc, Length: 337, dtype: object

In [58]:
max(jobs_df['skills_desc'].str.len()) # Max string length of col. NA due to NULL values

nan

# Job Skills

In [59]:
job_postings = '../../data/companies/company+jobs/job_details/job_skills.csv'

jobs_df = pd.read_csv(job_postings)

In [61]:
jobs_df.dtypes

job_id        int64
skill_abr    object
dtype: object

In [64]:

def obj_types(jobs_df):
    c = jobs_df.dtypes
    cols_df = c.reset_index()
    # cols_df.columns
    cols_df = cols_df[cols_df[0]=='object'].reset_index()
    cols_df = cols_df.drop('level_0', axis=1)
    cols_df['max_len'] = 0

    counter = 0
    for i,row in cols_df.iterrows():
        # print(i,row[0])
        # print( max(jobs_df[row['index']].str.len()))
        cols_df.iloc[i,2] = max(jobs_df[row['index']].str.len()) # Max string length of col

    return cols_df

cols_df = obj_types(jobs_df)
cols_df

  index       0  max_len
0  type  object       23

In [75]:
job_postings = '../../data/companies/company+jobs/maps/skills.csv'

jobs_df = pd.read_csv(job_postings)
jobs_df.dtypes

skill_abr     object
skill_name    object
dtype: object

In [76]:
cols_df = obj_types(jobs_df)
cols_df

        index       0  max_len
0   skill_abr  object        4
1  skill_name  object       22

# Job Benefits

In [62]:
job_postings = '../../data/companies/company+jobs/job_details/benefits.csv'

jobs_df = pd.read_csv(job_postings)
jobs_df.dtypes

job_id       int64
inferred     int64
type        object
dtype: object

In [65]:
cols_df = obj_types(jobs_df)
cols_df

  index       0  max_len
0  type  object       23

# Industries

In [69]:
job_postings = '../../data/companies/company+jobs/job_details/job_industries.csv'

jobs_df = pd.read_csv(job_postings)
jobs_df.dtypes

job_id         int64
industry_id    int64
dtype: object

In [70]:
cols_df = obj_types(jobs_df)
cols_df

Empty DataFrame
Columns: [index, 0, max_len]
Index: []

In [74]:
job_postings = '../../data/companies/company+jobs/maps/industries.csv'

jobs_df = pd.read_csv(job_postings)
jobs_df.dtypes
cols_df = obj_types(jobs_df)
cols_df

           index       0  max_len
0  industry_name  object       54

# Salaries

In [71]:
job_postings = '../../data/companies/company+jobs/job_details/salaries.csv'

jobs_df = pd.read_csv(job_postings)
jobs_df.dtypes

salary_id              int64
job_id                 int64
max_salary           float64
med_salary           float64
min_salary           float64
pay_period            object
currency              object
compensation_type     object
dtype: object

In [72]:
cols_df = obj_types(jobs_df)
cols_df

               index       0  max_len
0         pay_period  object        7
1           currency  object        3
2  compensation_type  object       11