# Exploration of different graph features

### Companies with most employees

In [ ]:
# Top 3
'''
match (p:People)-[r:EMPLOYEE_IN]-(c:Company)
return c, collect(r.title) as rels, collect(p) as people
order by size(rels) desc limit 2;
'''

'''
match (p:People)-[r:EMPLOYEE_IN]-(c:Company)
with c, collect(r.title) as rels, collect(p) as people
return c, size(rels) as employees
order by size(rels) desc limit 3;
'''
# Result is Amazon (182), Microsoft (146), Self-employed (92)

### Companies in Software Development industry

In [ ]:
'''
match (a)--(i:Industry {name: 'Software Development'}) return *;
'''