In [1]:
import pandas as pd
import os
import json

pd.set_option('display.max_columns', None)

In [2]:
# Testing saved csv

df = pd.read_csv('../../data/companies/us_companies_proxycurl/10000_united_states_companies_profiles.csv')
df[:2]

,Unnamed: 0,linkedin_internal_id,description,website,industry,company_size,company_size_on_linkedin,hq,company_type,founded_year,specialities,locations,name,tagline,universal_name_id,profile_pic_url,background_cover_image_url,search_id,similar_companies,updates,follower_count
0,0,1415096.0,’47 is a sports lifestyle brand founded in Bos...,http://www.47brand.com/,Apparel & Fashion,"[201, 500]",272.0,"{'country': 'US', 'city': 'Westwood', 'postal_...",PRIVATELY_HELD,1947.0,"['Sports Licensing', 'Headwear', 'Apparel', 'L...","[{'country': 'US', 'city': 'Westwood', 'postal...",'47,"Sports lifestyle brand based out of Boston, MA...",%2747-brand,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,1415096,"[{'name': 'New Era Cap', 'link': 'https://www....",[],8865.0
1,1,6579667.0,à la Sparke is an online 'a la carte' event st...,NaN,Design,"[1, 10]",NaN,"{'country': 'US', 'city': 'Atlanta', 'postal_c...",PUBLIC_COMPANY,2015.0,['Event Styling Wardrobe Styling'],"[{'country': 'US', 'city': 'Atlanta', 'postal_...",à la Sparke,NaN,%C3%A0-la-sparke,NaN,NaN,6579667,[],[],2.0

In [4]:
# temp['similar_comp_name'] = 
from utils import pandas_utils

df = pandas_utils.cols2json(df)

Couldn't convert Unnamed: 0: malformed node or string: 0
Couldn't convert linkedin_internal_id: malformed node or string: 1415096.0
Couldn't convert description: invalid character '’' (U+2019) (<unknown>, line 1)
Couldn't convert website: invalid decimal literal (<unknown>, line 1)
Couldn't convert industry: malformed node or string on line 1: <ast.BinOp object at 0x000001A669533610>
Couldn't convert company_size: malformed node or string: [201, 500]
Couldn't convert company_size_on_linkedin: malformed node or string: 272.0
Couldn't convert hq: malformed node or string: {'country': 'US', 'city': 'Westwood', 'postal_code': '02090', 'line_1': '15 SW Park', 'is_hq': True, 'state': 'Massachusetts'}
Couldn't convert company_type: malformed node or string on line 1: <ast.Name object at 0x000001A669532E60>
Couldn't convert founded_year: malformed node or string: 1947.0
Couldn't convert specialities: malformed node or string: ['Sports Licensing', 'Headwear', 'Apparel', 'Lifestyle', 'Retail', 'Sport']
Couldn't convert locations: malformed node or string: [{'country': 'US', 'city': 'Westwood', 'postal_code': '02090', 'line_1': '15 SW Park', 'is_hq': True, 'state': 'Massachusetts'}]
Couldn't convert name: unterminated string literal (detected at line 1) (<unknown>, line 1)
Couldn't convert tagline: invalid syntax (<unknown>, line 1)
Couldn't convert universal_name_id: invalid syntax (<unknown>, line 1)
Couldn't convert profile_pic_url: invalid decimal literal (<unknown>, line 1)
Couldn't convert background_cover_image_url: invalid decimal literal (<unknown>, line 1)
Couldn't convert search_id: malformed node or string: nan
Couldn't convert similar_companies: malformed node or string: [{'name': 'New Era Cap', 'link': 'https://www.linkedin.com/company/new-era-cap', 'industry': 'Apparel & Fashion', 'location': 'Buffalo, New York'}, {'name': 'Life is Good', 'link': 'https://www.linkedin.com/company/life-is-good', 'industry': 'Apparel & Fashion', 'location': 'Boston, MA'}, {'name': 'Mitchell & Ness Nostalgia Co.', 'link': 'https://www.linkedin.com/company/mitchell-&-ness', 'industry': 'Apparel & Fashion', 'location': None}, {'name': 'Fanatics, Inc.', 'link': 'https://www.linkedin.com/company/fanatics-inc-', 'industry': 'Internet', 'location': 'Jacksonville, FL., .'}, {'name': 'New Balance', 'link': 'https://www.linkedin.com/company/new-balance', 'industry': 'Sporting Goods', 'location': 'Brighton, MA'}, {'name': 'Nike', 'link': 'https://www.linkedin.com/company/nike', 'industry': 'Sporting Goods', 'location': 'Beaverton, OR'}, {'name': 'Converse', 'link': 'https://www.linkedin.com/company/converse', 'industry': 'Apparel & Fashion', 'location': 'Boston, MA'}, {'name': 'PUMA Group', 'link': 'https://de.linkedin.com/company/puma', 'industry': 'Sporting Goods', 'location': None}, {'name': 'adidas', 'link': 'https://de.linkedin.com/company/adidas', 'industry': 'Sporting Goods', 'location': 'Herzogenaurach, Bavaria'}, {'name': 'Reebok', 'link': 'https://www.linkedin.com/company/reebok', 'industry': 'Consumer Goods', 'location': 'Boston, MA'}]
Couldn't convert updates: malformed node or string: []
Couldn't convert follower_count: malformed node or string: 8865.0

# Similar To

In [6]:

# df['similar_companies'][0]

In [19]:
df['similar_comp_neo4j'] = df['similar_companies'].apply(lambda x: [y.get('name','') for y in x])
print(df['similar_comp_neo4j'][0])
df['similar_comp_neo4j'] = df['similar_comp_neo4j'].apply(lambda x: ';'.join(x))
print(df['similar_comp_neo4j'][0])

['New Era Cap', 'Life is Good', 'Mitchell & Ness Nostalgia Co.', 'Fanatics, Inc.', 'New Balance', 'Nike', 'Converse', 'PUMA Group', 'adidas', 'Reebok']
New Era Cap;Life is Good;Mitchell & Ness Nostalgia Co.;Fanatics, Inc.;New Balance;Nike;Converse;PUMA Group;adidas;Reebok

In [18]:
# Note: couldn't find nike, adidas in csv. Maybe they can be in 17M Company dataset
df[df['name'].str.contains('adidas').fillna(False)]

Empty DataFrame
Columns: [Unnamed: 0, linkedin_internal_id, description, website, industry, company_size, company_size_on_linkedin, hq, company_type, founded_year, specialities, locations, name, tagline, universal_name_id, profile_pic_url, background_cover_image_url, search_id, similar_companies, updates, follower_count, similar_comp_neo4j]
Index: []

In [15]:
df[df['name'].str.contains('Reebok').fillna(False)]

Empty DataFrame
Columns: [Unnamed: 0, linkedin_internal_id, description, website, industry, company_size, company_size_on_linkedin, hq, company_type, founded_year, specialities, locations, name, tagline, universal_name_id, profile_pic_url, background_cover_image_url, search_id, similar_companies, updates, follower_count]
Index: []

In [23]:
df.to_csv('../../data/companies/us_companies_proxycurl/company_similar_to.csv')

# Located in

| loc_country | loc_state | loc_city |

In [21]:
df['locations'][0]

[{'country': 'US',
  'city': 'Westwood',
  'postal_code': '02090',
  'line_1': '15 SW Park',
  'is_hq': True,
  'state': 'Massachusetts'}]

In [ ]:
df['locations'].apply(lambda x: [y.get('name','') for y in x])